<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="example-button-row">
    
      <button routerLink="/Home" routerLinkActive="active" mat-raised-button color="primary">Home</button>
      <button routerLink="/feature" routerLinkActive="active"  mat-raised-button>Feature</button>
    
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<p>
  featurepage works!
</p>
